@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --primary-color: #f96706;
  --secondary-color: #ce5605;
  --background-color: #f9fafb;
  --text-color: #111827;
}

/* body,main {
  background-color: #f9f9f9;
} */

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.momo-trust-display {
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
}

/* ::-webkit-scrollbar {
  width: 10px;
  position: absolute;;
}

::-webkit-scrollbar-track {
  background: #ffffff1d; 
}

::-webkit-scrollbar-thumb {
  background: #000000; 
}

::-webkit-scrollbar-thumb:hover {
  background: #212121; 
} */

.hidden-scroll {
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;  

  /* For Firefox */
  scrollbar-width: none; 
}

/* For Chrome, Safari, and Opera (Webkit browsers) */
.hidden-scroll::-webkit-scrollbar {
  display: none;
  width: 0; /* Ensures no width is reserved for the scrollbar */
}


html,
body {
  font-family: "Raleway","Noto Sans Thai", sans-serif;;

  @apply bg-white ;

  
}


.container-x {
  @apply max-w-7xl mx-auto px-4;
}

.mc-hd .nav-item .nav-lnk {
  position: relative;
  padding: 0;
  line-height: 18px;
  height: 18px;
  cursor: pointer;
  display: inline-block;
}

/* Image inside nav link */
.mc-hd .nav-item .nav-lnk img {
  background-size: cover;
  position: relative;
  bottom: 5px;
}

/* Underline effect */
.mc-hd .nav-item .nav-lnk::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  top: 24px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Active link (Tailwind + CSS variable) */
.mc-hd .nav-item .nav-lnk-active {
  @apply border-b-2 border-[var(--primary-color)] py-[5px] text-[var(--primary-color)];
}

/* === Apply hover effects only on hover-capable devices === */
@media (hover: hover) {
  .mc-hd .nav-item .nav-lnk:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .mc-hd .nav-item .nav-lnk:hover {
    color: var(--primary-color);
    background-color: var(--color-gray-100);
  }
}

.button {
  @apply bg-[var(--primary-color)] text-white  shadow hover:opacity-80 duration-200;
}

.input {
  @apply w-full border border-gray-300  px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

button {
  @apply   hover:opacity-80 duration-200;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}


.bg-image1 {
  background: url("https://ctg-web-nine.vercel.app/images/bangkok(18).jpg");
}