@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --primary-color: #f96706;
  --secondary-color: #ce5605;
  --background-color: #f9fafb;
  --text-color: #111827;
}

/* ::-webkit-scrollbar {
  width: 10px;
  position: absolute;;
}

::-webkit-scrollbar-track {
  background: #ffffff1d; 
}

::-webkit-scrollbar-thumb {
  background: #000000; 
}

::-webkit-scrollbar-thumb:hover {
  background: #212121; 
} */

.hidden-scroll {
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;  

  /* For Firefox */
  scrollbar-width: none; 
}

/* For Chrome, Safari, and Opera (Webkit browsers) */
.hidden-scroll::-webkit-scrollbar {
  display: none;
  width: 0; /* Ensures no width is reserved for the scrollbar */
}


html,
body {
  font-family: "Noto Sans Thai", sans-serif;;

  @apply bg-white ;

  
}


.container-x {
  @apply max-w-7xl mx-auto px-4;
}

.mc-hd .nav-item .nav-lnk {
  position: relative;
  padding: 0;
  line-height: 18px;
  height: 18px;
  cursor: pointer;
  display: inline-block;
}

/* Image inside nav link */
.mc-hd .nav-item .nav-lnk img {
  background-size: cover;
  position: relative;
  bottom: 5px;
}

/* Underline effect */
.mc-hd .nav-item .nav-lnk::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  top: 24px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Active link (Tailwind + CSS variable) */
.mc-hd .nav-item .nav-lnk-active {
  @apply border-b-2 border-[var(--primary-color)] py-[5px] text-[var(--primary-color)];
}

/* === Apply hover effects only on hover-capable devices === */
@media (hover: hover) {
  .mc-hd .nav-item .nav-lnk:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .mc-hd .nav-item .nav-lnk:hover {
    color: var(--primary-color);
    background-color: var(--color-gray-100);
  }
}

.button {
  @apply bg-[var(--primary-color)] text-white rounded-md shadow hover:opacity-80 duration-200;
}

button {
  @apply   hover:opacity-80 duration-200;
}